{% extends 'hw/base.html' %}

{% block content %}

{% for object in object_list %}
<div class="col">
    <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Фото товара</text>
        </svg>
        <div class="card-body">
            <p class="card-text">Название: {{ object.title }} <br>
                Категория: {{object.category}} <br>
                Описание: {{object.description}} <br>
                Цена: {{object.price}} <br>
                Дата создание: {{object.creation_date}} <br>
                Изменено: {{object.change_date}} <br>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


{% endfor %}

{% endblock %}

