{% extends 'hw/base.html' %}
{% load tags %}
{% block content %}
<div class="col-12">
    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ object.title }} {{ object.slug }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        Дата создания: {{ object.creation_date }} <br>
                        Опубликовано: {{ object.is_published }} <br><br>
                        {{ object.body }} <br>

                    </p>
                </div>
                <div class="card-footer">
                    Просмотров: {{ object.view_counter }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src='{% mediapath object.preview %}' height="200" alt="Превью">
        </div>
    </div>
</div>


{% endblock %}